body{
  font-family: 'Hanken Grotesk';
}

.container{
  max-width: 1280px;
  padding: 0px 16px;
  margin: 0 auto;
}


.segments-wrapper{
  position: relative;
}
.segments-wrapper .tn-molecule{
  padding:8px;
  background-color: #dfdfdf;
  border-radius: 0px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.segment-btn{
  width: 100%;
  min-height: 40px;
}


.content{
  margin-top: 16px;
  border-radius: 32px;
  text-align: center;
  padding: 32px;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #f2f2f2;
  height: 400px;
}